@import url(./vars.scss);
@import url(./fonts.scss);

:root {
	font-family: var(--fontFamily-primary);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	background-color: var(--color-b1);
	color: var(--color-f1);
}
